<header class="bloghead">
    <dev class="authorheader">
        <a href="/">
            <img alt="My Avatar" src="/assets/img/avatar.JPG"/>
        </a>
        <dev class="blogtitle">
            <h3><a href="/">{{ site.data.blog.title }}</a></h3>
            <h5> {{ site.data.blog.description }} </h5>
        </dev>
    </dev>

    <nav class="menu" role="nav">
        <ul>
            <li><a href="/">主页</a></li>
            <li>|</li>
            <li><a href="/menu.html">存档</a></li>
            <li>|</li>
            <li><a target="_blank" href="https://github.com/pettertang">Github</a></li>
            <li>|</li>
            <li><a target="_blank" href="/about.html">关于我</a></li>
        </ul>
    </nav>
</header>
